@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
h1,h2,h3,h4,h5,h6  {font-family: 'Zilla Slab', serif; color:#888888}
h1,h2,h3,h4,h5,h6{
    margin: 0 0 15px;
}
body{
    line-height: 1.8;
}
.slide-bg-1{
    background-image: url(../img/slide-bg.jpg);
}
.logo{
    font-size: 20px;
    font-weight: 700;
    margin-top: 13px;
}
.header-area{
    font-size: 16px;
    font-family: 'Zilla Slab', serif;
    font-weight: 700;
}
.header-area a{
    color: #333f;
}
.mainmenu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.mainmenu li{
    display: inline-block;
    position: relative;
}
.mainmenu li a{
    display: block;
    padding: 15px;
}
.single-slide-item {
	position: relative;
	z-index: 1;
	background-size: cover;
	background-position: center;
	background-color: #333;
}
.single-slide-item::after {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: "";
	background: #000;
	opacity: .66;
	z-index: -1;
}
.slide-text h2{
    color: #fff;
    font-size: 60px;
}
.slide-text a{
    color: #fff;
    text-decoration: none;
}
.slide-text h2 span{
    font-weight: 300;
    font-style: italic;
}
.video-btn {
	display: block;
    position: relative;
    margin: 30px 0;
}
.play-icon {
	background: #22bbc0;
	position: absolute;
	line-height: 55px;
	border-radius: 50%;
	left: 50%;
	top: 50%;
	margin-left: -30px;
    margin-top: -30px;
    height: 60px;
    width: 60px;
}
.slide-text{
    font-size: 16px;
    padding: 160px 0;
}
.boxed-btn {
	background-color: #22bbc0;
	font-family: 'Zilla Slab', serif;
	font-weight: 700;
	padding: 10px 40px;
    display: inline-block;
    border-radius: 50px;
}
.header-area.header-absolute{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
}
.header-area.header-absolute a, .search-icon{
    color: #fff;
}
.search-icon {
	margin-top: 15px;
	display: inline-block;
}
.owl-carousel .owl-item .slide-text img{
    width: auto;
    display: inline-block;
}

.section-padding {
    padding: 100px 0;
  }
  h1,h2,h3,h4,h5,h6 {
    color: #000;
    font-weight: 700;
    line-height: 1.3;
  }
  .single-promo-box p {
	font-size: 18px;
}
.services-bg{
    background: url(../img/service-bg.jpg);
    background-repeat: no-repeat;

}
.services-bg {
    overflow: hidden;
    position: relative;
}
.services-bg:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 51.05%;
    content: "";
}


/* .owl-nav{
    position: absolute;
    left: 50px;
    color: #fff;
    top: 50%;
    font-size:30px;
    line-height: 30px;
    margin-top: -20px;
} */

.single-promo-box {
	margin-top: 30px;
	text-align: center;
}
.promo-icon{
    font-size: 25px;
    color: #22bbc0;
    margin-bottom: 15px;
}
.single-promo-box h4{
    font-size: 20px;
    margin-bottom: 20px;
}
.space-90{
    height: 90px;
}
.tile-gallery {
    position: relative;
    height: 675px;
    margin-left: 31px;
}
.tile-gallery img{
    border-radius: 5px;
    box-shadow: 3px 3px 9px #d4d4d4;
    position: relative;
    z-index: 1;
}
.tile-gallery img:nth-child(2){
    position: absolute;
    right: 0;
    top: 50px; 
    z-index: 2;
}
.tile-gallery img:nth-child(3){
    position: absolute;
    bottom: 0;
    left: 22px;
    z-index: 3;
}
.service-icon{
    width: 85px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    color: #22bbc0;
    font-size: 30px;
    text-align: center;
}
.single-service-item{
    position: relative;
    padding-left: 100px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.single-service-item h3{
    font-size: 20px;
}
.single-service-item:hover{
    background-color: #22bbc0;
    color: #fff;
}
.single-service-item:hover h3,.single-service-item:hover .service-icon {
    color: #fff;
}
.single-service-item:hover::after{
    position: absolute;
    left: 100%;
    top: 0;
    width: 5000%;
    height: 100%;
    content: "";
    background-color: #22bbc0;
}
.single-skill-bar{
    text-align: center;
}
#web-design-skillbar{
    position: relative;
}
span.skill-count-no{
    font-size: 48px;
    font-weight: 700;
    position: absolute;
    color: #333;
    left: 0;
    width: 100%;
    top: 45%;
    line-height: 50px;
    margin-top: -25px;
}
.single-skill-bar h3{
    margin-top: 25px;
}
.single-skill-bar{
    margin-top: 50px;
}
.cta-area{
    background: url(../img/cta-area.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.black-overlay,.black-overlay h1, .black-overlay, .boxed-btn{
    color: #fff;
}
.black-overlay{
    position: relative;
    z-index: 2;
}
.black-overlay::after{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: #000;
    z-index: -1;
    opacity: .7;
}

.btn-top a {
	margin-top: 59px;
	text-decoration: none;
    color: #fff;
}
.btn-top a:hover{
    background: transparent;
    color: aqua;
    border: 1px solid;
}
